<nav class="text-white">
    <div class="container mx-auto flex items-center justify-between p-6 lg:p-8">
        <div>
            <p class="text-xl lg:text-2xl flex items-center gap-2 font-extrabold">
                <i class='bx bxs-map-pin' ></i>
                <span>ND</span>
            </p>
        </div>
        <ul class="flex items-center text-lg gap-5">
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Destination</a></li>
            <li><a href="">Rsvp</a></li>
            
        </ul>

        <a href="" class="p-2 px-8 text-lg hover:scale-90 duration-300 bg-green-500 rounded-lg">Contact</a>
    </div>
</nav>