<main class="h-screen w-screen overflow-hidden relative">
    <div id="chargementBox" class="absolute z-50 bg-black/60 backdrop-blur-md w-full h-full grid place-content-center">
        <div class="flex flex-col">
            <img src="../../../assets/img/win12.png" class="w-20" alt="">

            <div class="relative mt-10 text-white text-4xl ">
                <h3 id="welcome" class="absolute ">Welcome</h3>
                <h3 id="likeur" class="absolute ">Likeur</h3>
            </div>

            <div class="mt-32 relative -ml-7">
                <div id="chargement1" class="text-transparent absolute bg-white rounded-full h-2 w-0">.</div>
                <div id="chargement2" class="text-transparent absolute bg-white rounded-full h-2 w-0">.</div>
                <div id="chargement3" class="text-transparent absolute bg-white rounded-full h-2 w-0">.</div>
                <div id="chargement4" class="text-transparent absolute bg-white rounded-full h-2 w-0">.</div>
            </div>
        </div>
    </div>
    <div class="absolute z-20 w-full h-full bg-black/40"></div>
    <img src="../../../assets/img/win12.jpg" class="absolute z-10 h-full w-full" alt="">
    <div class="h-full w-full absolute z-30 flex justify-center">
        <div id="heureBox" class="top-24 relative text-white flex flex-col items-center">
            <h3 class="text-5xl">18h32</h3>
            <p class="text-xl">Tuesday , January 14</p>
        </div>
    </div>
    <div class="w-full h-full absolute z-40 p-2">
        <div id="menuBoxLeft" class="bg-white/15 bottom-4 rounded-md gap-3 flex items-center absolute w-max backdrop-blur-md p-2 ">
            <button  (click)="OpenMenu()" title="menu btn" class="bg-white/25 active:scale-50 duration-300 rounded-md h-8 w-8 p-2 grid place-content-center">
                <img src="../../../assets/img/win12.png" alt="">
            </button >
            <div class="flex bg-white/30 h-8 rounded-full gap-1 items-center text-white p-2">
                <i class='bx bx-search'></i>
                <input type="text" placeholder="Search..." class="bg-transparent border-none outline-none placeholder:text-white/80" id="searchInput">
                
            </div>

            <div class="gap-2 flex items-center">
                <button title="menu btn" (click)="openFolder()" class="rounded-md active:scale-75 duration-300 active:bg-white/15 h-8 w-8 p-2 grid place-content-center">
                    <img src="../../../assets/img/folder.png" class="w-12 scale-125" alt="">
                </button >
                <button title="menu btn" class="rounded-md h-8 w-8 p-2 grid place-content-center">
                    <img src="../../../assets/img/mail.png" class="w-7 scale-125" alt="">
                </button >
            </div>
        </div>

        <div id="batterieBoxRight" class="bg-white/15 h-12 bottom-4 rounded-md right-2 gap-4 flex items-center absolute backdrop-blur-md p-3">
            <div class="text-white flex items-center gap-2">
                <img src="../../../assets/img/weather.png" class="w-7" alt="">
                <span class="text-xl">38°</span>
            </div>
            <div class="text-white flex items-center gap-2">
                <i class='bx bx-volume-full' ></i>
                <i class='bx bx-world' ></i>
                <i class='bx bxs-battery-charging'></i>
            </div>
            <div>
                <span class="text-white">18h32</span>
            </div>
        </div>

        <div id="menuContextuelle" class="bg-white/15 z-50 backdrop-blur-md overflow-hidden absolute h-[70vh] w-[40vw] bottom-20 rounded-md flex text-white">
            <aside class="flex gap-2 p-2 h-full w-[35%] bg-black/30">
                <div class="flex flex-col justify-between">
                    <i class='bx bx-menu text-2xl'></i>
                    <div class="flex flex-col items-center">
                        <div class="h-5 w-5 overflow-hidden rounded-full">
                            <img src="../../../assets/img/likepp.jpg" class="w-full h-full object-cover" alt="">
                        </div>
                        <button title="power-off" class="mt-2">
                            <i class='bx bx-power-off text-2xl' ></i>
                        </button>
                    </div>
                </div>
                <nav class="ml-2 mt-1">
                    <div>
                        <div class="font-semibold"><span>A</span></div>
                        <ul class="mt-2">
                            <li><button title="access" class="flex items-center gap-2"><img src="../../../assets/img/access.png" class="w-5" alt=""> <span>Access</span></button></li>
                            <li class="mt-1"><button title="access" class="flex items-center gap-2"><img src="../../../assets/img/clock.png" class="w-5" alt=""> <span>Alarm & clock</span></button></li>
                        </ul>
                    </div>
                    <div class="mt-3">
                        <div class="font-semibold"><span>C</span></div>
                        <ul class="mt-2">
                            <li class="mt-1"><button title="access" class="flex items-center gap-2"><img src="../../../assets/img/calculatrice.png" class="w-5" alt=""> Calculator</button></li>
                            <li class="mt-1"><button title="access" class="flex items-center gap-2"><img src="../../../assets/img/calendar.png" class="w-5" alt=""><span>Calendar</span></button></li>
                            <li class="mt-1"><button title="access" class="flex items-center gap-2"><img src="../../../assets/img/camera.png" class="w-5" alt=""><span>Camera</span></button></li>
                            <li class="mt-1"><button title="access" class="flex items-center gap-2"><img src="../../../assets/img/clipchamp.png" class="w-5" alt=""><span>Clipchamp</span></button></li>
                        </ul>
                    </div>
                    <div class="mt-3">
                        <div class="font-semibold"><span>E</span></div>
                        <ul class="mt-2">
                            <li class="mt-1"><button title="access" class="flex items-center gap-2"><img src="../../../assets/img/excel.png" class="w-5" alt=""><span>Excel</span></button></li>
                           
                        </ul>
                    </div>
                    <div class="mt-3">
                        <div class="font-semibold"><span>F</span></div>
                        <ul class="mt-2">
                            <li class="mt-1"><button title="access" class="flex items-center gap-2"><img src="../../../assets/img/feedback.png" class="w-5" alt=""><span>Feedback</span></button></li>
                            <li class="mt-1"><button title="access" class="flex items-center gap-2"><img src="../../../assets/img/folder.png" class="w-5" alt=""><span>file explorer</span></button></li>
                           
                        </ul>
                    </div>
                </nav>
            </aside>
            <div class="p-2 w-[65%]">
                <div class="w-full">
                    <div class="flex bg-white/30 h-8 w-full justify-between rounded-full gap-1 items-center text-white p-2">
                        <i class='bx bx-search'></i>
                        <input type="text" placeholder="Search..." class="bg-transparent w-full text-center border-none outline-none placeholder:text-white/80" id="searchInput">
                        <i class='bx bx-play' ></i>
                    </div>

                    <div class="mt-4">
                        <div class="flex items-center gap-2">
                            <span>Pinned App</span>
                        </div>

                        <div class="grid lg:grid-cols-4 mt-2 gap-3">
                            <img src="../../../assets/img/edge.png" class="hover:bg-white/15 duration-300 p-2 rounded-md hover:cursor-pointer" alt="">
                            <img src="../../../assets/img/vlc.png" class="hover:bg-white/15 duration-300 p-2 rounded-md hover:cursor-pointer" alt="">
                            <img src="../../../assets/img/outlook.png" class="hover:bg-white/15 duration-300 p-2 rounded-md hover:cursor-pointer" alt="">
                            <img src="../../../assets/img/music.png" class="hover:bg-white/15 duration-300 p-2 rounded-md hover:cursor-pointer" alt="">
                            <img src="../../../assets/img/store.png" class="hover:bg-white/15 duration-300 p-2 rounded-md hover:cursor-pointer" alt="">
                            <img src="../../../assets/img/icons8-paramètres-48.png" class="hover:bg-white/15 duration-300 p-2 rounded-md hover:cursor-pointer" alt="">
                            <img src="../../../assets/img/office.png" class="hover:bg-white/15 duration-300 p-2 rounded-md hover:cursor-pointer" alt="">
                            <img src="../../../assets/img/paint.png" class="hover:bg-white/15 duration-300 p-2 rounded-md hover:cursor-pointer" alt="">
                            <img src="../../../assets/img/folder.png" (click)="openFolderPin()" class="hover:bg-white/15 active:scale-75 duration-300 p-2 rounded-md hover:cursor-pointer" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="" class="h-full draggarea w-full grid place-content-center z-30">
            <div id="FolderBox" class="bg-white/10 backdrop-blur-md overflow-hidden w-[60vw] h-[70vh] relative text-white/80 rounded-md">
                <div id="preFolder" class="absolute h-full w-full bg-black/70 z-50 backdrop-blur-md grid place-content-center">
                    <img id="imgFolder" src="../../../assets/img/folder.png" alt="">
                </div>
                <div id="headFolder" class="h-12 flex items-center relative z-30 justify-between">
                    <div class="flex items-center gap-2">
                        <div class="bg-black/30 rounded-r-md h-full w-40 p-2  flex justify-between items-center">
                            <div class="flex items-center gap-2">
                                <img src="../../../assets/img/home.png" class="w-5" alt="">
                                <span>Home</span>
                            </div> 
                            <button><i class='bx bx-x text-xl'></i></button>
                        </div>
                        <button class="text-xl">+</button>
                    </div>
                    <div class="text-white/80 flex items-center gap-4 p-2">
                        <button>-</button>
                        
                        <button (click)="toFullScreen()" class="active:scale-75 duration-300">
                            @if (isFullScreen) {
                                <i class='bx bx-collapse'></i>
                            }@else {
                                <i class='bx bx-fullscreen'></i>
                            }
                            
                        </button>
                        <button title="btn-x" (click)="closeFolder()" class="active:scale-75 duration-300"><i class='bx bx-x text-xl'></i></button>
                    </div>
                </div>
                <div id="secondFolder" class="h-12 flex justify-between items-center gap-2 bg-black/30 p-2">
                    <div class="text-white/80 flex items-center gap-2">
                        <button><i class='bx bx-left-arrow-alt text-xl' ></i></button>
                        <button><i class='bx bx-right-arrow-alt text-xl' ></i></button>
                        <button><i class='bx bx-up-arrow-alt text-xl' ></i></button>
                    </div>
                    <div class="flex items-center justify-between bg-white/20 w-full backdrop-blur-md h-full p-2 rounded-full">
                        <div class="flex items-center">
                            <img src="../../../assets/img/home.png" class="w-5" alt="">
                            <i class='bx bx-chevron-right'></i>
                            <span>home</span>
                            <i class='bx bx-chevron-right'></i>
                        </div>
                        <button><i class='bx bx-refresh text-xl'></i></button>
                    </div>
                    <div class="flex bg-white/30 h-8 rounded-full gap-1 items-center text-white/80 p-2">
                        <i class='bx bx-search'></i>
                        <input type="text" placeholder="Type here to search" class="bg-transparent border-none outline-none placeholder:text-white/80" id="searchInput">
                    </div>
                </div>
                <div class="h-full flex">
                    <div id="asideFolder" class="p-2 h-full w-[27%]">
                        <ul class="w-full mt-2">
                            <li>
                                <a routerLink="" class="bg-white/15 flex items-center gap-2 backdrop-blur-sm rounded-md p-2 w-full">
                                    <img src="../../../assets/img/home.png" class="w-5" alt="">
                                    <span>Home</span>
                                </a>
                            </li>
                            <li class="">
                                <a routerLink="" class="flex bg-transparent items-center gap-2 hover:bg-white/15 duration-300  rounded-md p-2 w-full">
                                    <img src="../../../assets/img/onedrive.png" class="w-5" alt="">
                                    <span>OneDrives</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="" class="flex bg-transparent items-center gap-2 hover:bg-white/15 duration-300 rounded-md p-2 w-full">
                                    <img src="../../../assets/img/galery.png" class="w-5" alt="">
                                    <span>Galery</span>
                                </a>
                            </li>
                        </ul>
                        <div class="w-full h-0.5 bg-white/20 mt-1"></div>
                        <ul class="w-full mt-2">
                            <li>
                                <a routerLink="" class=" flex items-center gap-2 hover:bg-white/15 duration-300 rounded-md p-2 w-full">
                                    <img src="../../../assets/img/desktop.png" class="w-5" alt="">
                                    <span>Desktop</span>
                                </a>
                            </li>
                            <li class="">
                                <a routerLink="" class="flex bg-transparent items-center hover:bg-white/15 duration-300 gap-2  rounded-md p-2 w-full">
                                    <img src="../../../assets/img/doc.png" class="w-5" alt="">
                                    <span>Documents</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="" class="flex bg-transparent items-center gap-2 hover:bg-white/15 duration-300 rounded-md p-2 w-full">
                                    <img src="../../../assets/img/download.png" class="w-5" alt="">
                                    <span>Download</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="" class="flex bg-transparent items-center gap-2 hover:bg-white/15 duration-300 rounded-md p-2 w-full">
                                    <img src="../../../assets/img/music.png" class="w-5" alt="">
                                    <span>Music</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div id="contentFolder"  class="h-full w-full backdrop-blur-sm bg-black/70 p-2 rounded-l-md">
                        <div class="h-10 flex items-center justify-between">
                            <div class="flex items-center gap-3">
                                <div class="flex items-center gap-2">
                                    <i class='bx bx-history'></i>
                                    <i class='bx bxs-chevron-down'></i>
                                </div>
                                <div class="w-0.5 h-full bg-white/15 text-transparent">.</div>
                                <div class="flex items-center gap-2">
                                    <i class='bx bx-cut' ></i>
                                    <i class='bx bx-copy-alt'></i>
                                    <i class='bx bx-paste' ></i>
                                    <i class='bx bxs-rename'></i>
                                    <i class='bx bx-share'></i>
                                    <i class='bx bx-trash'></i>
                                </div>
                                <div class="w-0.5 h-full bg-white/15 text-transparent">.</div>
                                <div class="flex items-center gap-2">
                                    <div class="flex items-center gap-2">
                                        <i class='bx bx-filter-alt'></i>
                                        <i class='bx bxs-chevron-down'></i>
                                    </div>
                                    <div class="flex items-center gap-2">
                                        <i class='bx bx-list-ul' ></i>
                                        <i class='bx bxs-chevron-down'></i>
                                    </div>
                                </div>
                                <div class="w-0.5 h-full bg-white/15 text-transparent">.</div>
                                <button class="text-2xl">...</button>
                                
                            </div>
                            <div class="flex items-center gap-2">
                                <button><i class='bx bx-image-alt'></i></button>
                                <button><i class='bx bxs-grid-alt' ></i></button>
                            </div>
                        </div>

                        <div class="mt-1">
                            <div class="flex items-center gap-2">
                                <span>Quick Access</span>
                                <i class='bx bxs-chevron-down'></i>
                            </div>
                            <div class="mt-2">
                                <ul class="w-full flex mt-2 items-center gap-2">
                                    <li>
                                        <a routerLink="" class=" flex items-center flex-col h-20 w-20 bg-white/15 hover:bg-white/15 duration-300 rounded-md p-3">
                                            <img src="../../../assets/img/desktop.png" class="w-10" alt="">
                                            <span>Desktop</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a routerLink="" class="flex flex-col bg-white/15 h-20 w-20 items-center hover:bg-white/15 duration-300 rounded-md p-3">
                                            <img src="../../../assets/img/doc.png" class="w-10" alt="">
                                            <span>Docu..</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="" class="flex flex-col bg-white/15 h-20 w-20 items-center hover:bg-white/15 duration-300 rounded-md p-3">
                                            <img src="../../../assets/img/download.png" class="w-10" alt="">
                                            <span>Download</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="" class="flex flex-col bg-white/15 h-20 w-20 items-center hover:bg-white/15 duration-300 rounded-md p-3">
                                            <img src="../../../assets/img/music.png" class="w-10" alt="">
                                            <span>Music</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="" class="flex flex-col bg-white/15 h-20 w-20 items-center hover:bg-white/15 duration-300 rounded-md p-3">
                                            <img src="../../../assets/img/video.png" class="w-10" alt="">
                                            <span>Video</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="flex items-center mt-2 gap-2">
                                <span>Drive</span>
                                <i class='bx bxs-chevron-down'></i>
                            </div>
                            <div class="mt-2 flex items-center gap-2">
                                <div class="bg-white/15 flex flex-col justify-center h-20 w-60 p-2 rounded-md">
                                    <div class="flex items-center gap-2">
                                        <img src="../../../assets/img/harddisk.png" class="w-5" alt="">
                                        <p>Local Disk (C:)</p>
                                    </div>
                                    <div class="mt-3 h-2 w-full bg-white/25 rounded-full">

                                        <div class=" w-[20%] h-full bg-blue-400 rounded-full text-transparent">.</div>
                                    </div>
                                    <p class="mt-1">876GB of 1Tb</p>
                                </div>
                                <div class="bg-white/15 flex flex-col justify-center h-20 w-60 p-2 rounded-md">
                                    <div class="flex items-center gap-2">
                                        <img src="../../../assets/img/usb.png" class="w-5" alt="">
                                        <p>ESD-USB (E:)</p>
                                    </div>
                                    <div class="mt-3 h-2 w-full bg-white/25 rounded-full">
                                        <div class=" w-[70%] h-full bg-blue-400 rounded-full text-transparent">.</div>
                                    </div>
                                    <p class="mt-1">300GB of 1Tb</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>